/* 
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++++
debug
+++++++++++++
*/

.debug header .top-header .top-menu>div,
.debug header .top-header .top-menu>nav,
.debug header .bottom-header > div,
.debug .top-footer > div,
.debug footer .bottom-footer .footer-logo,
.debug footer .bottom-footer .footer-bottone
 {
    border: 2px dashed black;
}

.debug header .bottom-header .small-box{
    height: 400px;
    
}

.debug main section .moduli{
    height: 600px;
}

.debug main > div {
    height: 1100px;
}

.debug main .flex-bigbox .moduli .big-box{
    height: 900px;
}

.debug footer .top-footer{
    height: 600px;
}

.debug footer .bottom-footer{
    height: 80px;
}

/* 
+++++++++++++
commond
+++++++++++++
*/


.container{
    width: 1200px;
}


/* header  */

header .top-header {
    margin: 0 auto;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    background: #add8e6;
    
}

.top-login{
    text-align: right;

}

.top-menu{
    background-color: #daa520;
    display: flex;
    justify-content: space-between;
}


header .top-header .container ul{
    list-style-type: none;
    display: flex;
    gap: 5px;
  }

header .container .top-logo,
header .container .top-login {
    width: 20%;
    
}

header .top-header .top-menu nav{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

header .top-header .top-menu > div,
header .top-header .top-menu > nav{
    padding: 10px;
}

.bottom-header{
    background-color: #00008b;
    display: flex;
    padding: 50px;
    align-items: center;
    justify-content: center;
}


.box,
{
    width: 900px;
}

.small-box{
    width: 900px;
    background-color: #ee82ee;
}


/* 
++++++++++++++++
sezione main
++++++++++++++++
*/


.container .box-rosa{
    background-color: #ffc0cb;
    width: 480px;
    height: 500px;
}

.container .box-azz{
    background-color: #1e90ff;
    width: 720px;
    height: 500px;

}

main section
{
    display: flex;
    justify-content: center;
    align-items: center;
   
}
main section .moduli{
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-bigbox{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d3d3d3;
}


main .moduli .big-box{
    background-color: green;
    width: 100%;
    
} 

.debug main section:nth-child(even){
    background-color: #d3d3d3;
}


/* 
++++++++++++++++
inizio top footer
++++++++++++++++
*/


footer{
    background-color: #23272a;
    display: flex;
    justify-content: center;
}

footer .top-footer{
    display: flex;
    padding: 10px 0;
}

footer .top-footer .menu1{
    width: 30%;
    background-color: #f08080;
}

footer .top-footer .after-menu{
    width: 70%;
    background-color: #20b2aa;
    display: flex;
    justify-content: space-between;
}

/* inizio bottom footer  */


footer .bottom-footer{
    background-color: #7fffd4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0;
}



footer .bottom-footer .footer-logo{
    background-color: #ffb6c1;
    
}

footer .bottom-footer .footer-bottone{
    background-color: #ffb6c1;
    
}

