/* 
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++++
debug
+++++++++++++
*/

.debug-box{
    background-color: #daa520;
}

.debug-nav{
    background-color: #add8e6;

}

.debug-ul{
    border: 1px dashed black;
}


/* 
+++++++++++++
permanenti
+++++++++++++
*/



nav {
    ;
    display: flex;
    justify-content: center;
    
}

.box {
    padding: 3px;
}

.contenitore {
    width: 1200px;
    border: 1px dashed;
    display: flex;
    justify-content: space-between;

}


nav a{
    text-decoration: none
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav div{
    width: 15%;
}

ul + div{
    text-align: right;

}