/* 
+++++++++++++
reset
+++++++++++++
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 
+++++++++++++
debug
+++++++++++++
*/

.debug-box{
    background-color: #daa520;
}

.debug-nav{
    background-color: #add8e6;
    

}

.debug-ul{
    border: 1px dashed black;
}


.debug-blue{
    background-color: #00008b;
 
}

.debug-fuxia{
    background-color: #ee82ee;
   

}

.debug-blocco-azz{
    background-color: #1e90ff;
    border: 1px dashed;
    
}

.debug-blocco-rosa{
    background-color: #ffc0cb;
    border: 1px dashed;
}

.debug .blocco:nth-child(even){
    background-color: #d3d3d3;
}

.debug-blocco-green{
    background-color: #228b22;
    width: 1200px;
    height: 900px;
} 


.debug-contenit-gr{
    background-color: #f08080;
    border: 1px dashed;
}


.debug-contenit-picc{
    background-color: #20b2aa;
    border: 1px dashed;
}

.debug-endfooter{
    background-color: #7fffd4;
    
}


.debug-footer-logo{
    background-color: #ffb6c1;
    border: 1px dashed;
}

.debug-footer-bottone{
    background-color: #ffb6c1;
    border: 1px dashed;
    
}

/* 
+++++++++++++
permanenti
+++++++++++++
*/


/* header  */

nav {
    display: flex;
    justify-content: center;
    padding-top: 15px;
    padding-bottom: 15px;
}

.box {
    padding: 3px;
}

.contenitore {
    width: 1200px;
    border: 1px dashed;
    display: flex;
    justify-content: space-between;

}


nav a{
    text-decoration: none
}

nav ul {
    list-style-type: none;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

nav div{
    width: 15%;
}

ul + div{
    text-align: right;

}

.blue{
    height: 500px;;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.fuxia{
    width: 900px;
    height: 400px;
}

/* fine header  */

/* inizio main  */

.moduli{
    display: flex;
    height: 600px;
    justify-content: center;
    align-items: center;
   
}

.rosa{
    width: 480px;
    height: 500px;
}

.azz{
    width: 720px;
    height: 500px;
}

.main-bottom{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}


/* fine main  */

/* inizio foooter  */
.footer-flex{
    background-color: #23272a;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 630px;
    border-bottom: 1px solid #eeeeee;

}


.contenit-footer{
    display: flex;
    margin-top: 10px;
    margin-bottom: 40px;
}

.salmon{
    width: 360px;
    height: 580px;
}

.picc{
    width: 210px;
    height: 580px;
}

.endfooter{
    background-color: #23272a;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}

.cont-endfooter{
    width: 1200px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eeeeee;
}

.footlogo{
    display: flex;
    padding: 5px;
}

.footbottone{
    display: flex;
    padding: 5px;
}